@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-accent: #43D2FF;
    --color-primary-default: #072AC8;
    --color-primary-hover: #A2D6F9;
    --color-primary-tapped: #D1EDFF;
    --color-neutral-dark: #292E47;
    --color-neutral-medium: #6B708D;
    --color-neutral-light: #F2F4FC;
    --color-neutral-light-blue: #ECF7FF;
    --color-secondary-1: #FFC600;
    --color-secondary-2: #FCE300;
    --color-white: #FFFFFF;
    --font-size-h1: 60px;
    --font-size-h2: 50px;
    --font-size-h3: 40px;
    --font-size-h4: 24px;
    --font-size-body-medium: 24px;
    --font-size-body-regular: 20px;
    --font-size-headline: 17px;
    --font-size-caption-1: 15px;
    --font-size-caption-2: 13px;
}

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--color-neutral-light);
    font-family: 'Roboto', sans-serif;
    margin: 0 40px;
}

h1 {
    color: var(--color-neutral-dark);
    font-size: var(--font-size-h1);
}

h3 {
    color: var(--color-neutral-dark);
    font-size: var(--font-size-h3);
}

a {
    color: var(--color-neutral-medium);
    font-size: var(--font-size-headline);
    font-weight: 500;
    text-decoration: none;
}

a.nav-active {
    color: var(--color-primary-default);
}

a.nav-footer {
    font-weight: 400;
}

a.btn-primary {
    background-color: var(--color-primary-default);
    color: var(--color-white);
    padding: 16px 32px;
}

a.btn-secondary {
    color: var(--color-neutral-medium);
    padding: 16px 32px;
}

a.learn-more {
    color: var(--color-primary-default);
    font-size: var(--font-size-headline);
    font-weight: 400;
    margin-top: 48px;
}

q {
    color: var(--color-secondary-1);
    font-size: var(--font-size-body-medium);
}

.body-medium {
    color: var(--color-neutral-dark);
    font-size: var(--font-size-body-medium);
    font-weight: 500;
}

.body-regular {
    color: var(--color-neutral-medium);
    font-size: var(--font-size-body-regular);
}

.headline-regular {
    color: var(--color-neutral-medium);
    font-size: var(--font-size-headline);
}

.headline-medium {
    color: var(--color-white);
    font-size: var(--font-size-headline);
    font-weight: 500;;
}

.caption-2 {
    color: var(--color-neutral-light);
    font-size: var(--font-size-caption-2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 64px;
    list-style-type: none;
}

img {
    width: 100%;
}

.card {
    background-color: var(--color-white);
    flex: 1;
    box-shadow: 0 40px 80px 0 rgb(0 0 0 / 10%);
}

/* Header styles */

header {
    max-width: 1100px;
    margin: 40px auto 80px auto;
}

/* Main styles */

main {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: 1100px;
    margin: 0 auto;
}

section#hero {
    display: flex;
    gap: 40px;
}

section#hero div.hero-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

section#hero div.hero-copy div.hero-links {
    display: flex;
    gap: 24px;
}

section#hero div.hero-images {
    display: grid;
    grid-template-columns: 3, 1fr;
    position: relative;
    height: fit-content;
}

section#hero div.hero-images img.hero-card-1 {
    grid-column: 1 / span 1;
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 24px;
    box-shadow: 0 40px 80px 0 rgb(0 0 0 / 10%);
}

section#hero div.hero-images img.hero-person {
    grid-column: 1 / span 3;
}

section#hero div.hero-images img.hero-card-2 {
    grid-column: 3 / span 1;
    position: absolute;
    bottom: 0;
    border-radius: 24px;
    box-shadow: 0 40px 80px 0 rgb(0 0 0 / 10%);
}

section#logos {
    display: flex;
    justify-content: space-between;
}

section#logos div {
    display: flex;
    padding: 32px;
    filter: grayscale(1);
    border-radius: 20px;
}

section#projects {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

section#projects div.project-cards {
    display: flex;
    gap: 40px;
}

section#projects article.card img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

section#projects article.card div.project-card-copy {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

section#projects article.card div.project-card-copy p {
    margin-bottom: 16px;
}

section#testimonial {
    background-color: var(--color-neutral-dark);
    background-image: url(assets/testimonial-section/orbit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 80px 160px;
    position: relative;
}

section#testimonial h3 {
    color: var(--color-neutral-light);
}

section#testimonial div.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

section#testimonial img.profile-picture {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

section#testimonial div.profile-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

section#testimonial p.profile-name {
    color: var(--color-primary-hover);
}

section#testimonial img.memoji-1 {
    width: 150px;
    position: absolute;
    top: 8px;
    left: 16px;
}

section#testimonial img.memoji-2 {
    width: 150px;
    position: absolute;
    top: 8px;
    right: 16px;
}

section#testimonial img.memoji-3 {
    width: 150px;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

section#testimonial img.memoji-4 {
    width: 150px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

section#services {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

section#services div.services-card {
    display: flex;
    gap: 40px;
}

section#services article.card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
}

section#services div.services-icon {
    background-color: var(--color-neutral-light-blue);
    border-radius: 100%;
    max-width: 80px;
    max-height: 80px;
    padding: 20px;
    box-sizing: border-box;
}

section#newsletter {
    background-color: var(--color-secondary-1);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    padding: 80px;
}

section#newsletter p {
    color: var(--color-neutral-dark);
}

section#newsletter form {
    display: flex;
    margin: 32px 80px 0 56px;
    gap: 24px;
    align-items: center;
}

section#newsletter i.input-icon {
    display: flex;
    padding: 24px;
    position: absolute;
}

section#newsletter input {
    display: flex;
    padding: 32px 32px 32px 72px;
    border: none;
    flex: 1;
    color: var(--color-neutral-dark);
}

section#newsletter input::placeholder {
    color: var(--color-neutral-medium);
}

section#newsletter form button {
    display: flex;
    padding: 32px 56px;
    color: var(--color-white);
    background-color: var(--color-primary-default);
    border: none;
}

/* Footer styles */

footer {
    max-width: 1100px;
    margin: 160px auto 40px auto;
}

footer nav {
    display: flex;
    gap: 80px;
}

footer div.company-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

footer img {
    width: 100px;
}

footer address {
    font-style: normal;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

footer ul div {
    display: flex;
    gap: 120px;
}