/* CONTACT FORM SECTION */

section#contact-form {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

section#contact-form form#contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section#contact-form div.contact-input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

section#contact-form div.contact-input-container-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

section#contact-form input, section#contact-form textarea {
    display: flex;
    padding: 24px;
    border: none;
    flex: 1;
    color: var(--color-neutral-dark);
    background-color: var(--color-neutral-medium-transparent);
    resize: none;
}