/* Main Project Section */

section#main-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

section#main-project div.main-project-copy {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section#main-project div.main-project-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
}

section#main-project p.main-project-subtitle {
    color: var(--color-neutral-medium);
    font-size: var(--font-size-body-medium);
    font-weight: 500;
}

section#main-project span.main-project-date-label {
    color: var(--color-neutral-dark);
}

section#main-project img {
    max-height: 440px;
    object-fit: cover;
}

section#main-project div.main-project-description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}